<div class="row">
    <div class="col"></div>
    <div class="col-md-10 col-lg-10">
        <table class="table table-striped table-sm table-hover table-dark text-white mt-5">
            <thead>
                <tr>
                    <th>Id Libro</th>
                    <th>Título</th>
                    <th>Autor</th>
                    <th>Edición</th>
                    <th>Num. Copias</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let libro of libros">
                    <td>{{libro.idlibro}}</td>
                    <td>{{libro.titulo}}</td>
                    <td>{{libro.autor}}</td>
                    <td>{{libro.edicion}}</td>
                    <td>{{libro.numcopias}}</td>
                    <td class="text-center  "><button class="btn btn-warning btn-lg mx-2"><fa-icon [icon]="faPencil"></fa-icon></button><button class="btn btn-lg btn-danger"><fa-icon [icon]="faTrash"></fa-icon></button></td>

                </tr>
            </tbody>

        </table>

    </div>
    <div class="col"></div>
</div>